/**
 * エディタに適応するスタイル
 */

@charset "UTF-8";

/* 基本 */
p {
  line-height: 2;
}

.editor-post-title__input {
  font-family: inherit;
}

/*エディタの標準幅*/
.wp-block {
  max-width: 824px;
}
/*幅広*/
.wp-block[data-align="wide"] {
  max-width: 1030px;
}
/*全幅*/
.wp-block[data-align="full"] {
  max-width: none;
}

/*stackable*/
:where(:not(.stk-block-icon-label):not(.stk-block-blockquote):not(.stk-block-columns):not(.stk-block-expand):not(.stk-block-button-group)
    > .stk-inner-blocks
    > .block-editor-inner-blocks
    > .block-editor-block-list__layout
    > [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"]))
  ~ [data-block][data-type^="stackable/"]:not([data-type="stackable/column"], [data-type^="stackable/image"]) {
  margin-top: 0px;
}
.is-root-container
  > [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"], [data-align="full"])
  ~ [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"], [data-align="full"]) {
  margin-top: 0px;
}

.wp-block[data-align="right"] > * {
  margin: 0;
}
/*ウィジェットカテゴリブロックのエディタで中央配置*/
[data-align="center"] .wp-block-categories,
[data-align="center"] .wp-block-latest-posts,
[data-align="center"] .wp-block-archives,
[data-align="center"] .wp-block-tag-cloud,
[data-align="center"] .wp-block-latest-comments,
[data-align="center"] .wp-block-rss {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
