/**
 * フロントとエディタの両方に適応するスタイル
 */

@charset "UTF-8";

/*
.wp-block-image img {
  max-height: 50vh;
  object-fit: cover;
}
*/

/* 基本 */
body {
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", "Noto Sans JP",
    sans-serif;
  color: var(--secondary-color);
  font-feature-settings: "palt";
}
body *,
body *::before,
body *::after {
  box-sizing: inherit; /*全要素ボーダーボックス*/
  margin: 0;
}

.genkakugo {
  font-family: "源ノ角ゴシック JP", "Source Han Sans", "Roboto", "Noto Sans JP";
}
.A1mintyo {
  font-family: "A1明朝", "A1 Mincho", "Shippori Mincho", sans-serif;
}
.font-weight-400 {
  font-weight: 400;
}

.font-size-15px {
  font-size: 15px;
}
.font-size-10px {
  font-size: 10px;
}

.display-pc {
  display: none;
}
.display-sp {
  display: visible;
}

/*WPブロック*/
.wp-block-image img {
  object-fit: cover;
}
.wp-block-image {
  margin: 0 0 30px 0;
}
.wp-block-image figcaption {
  text-align: unset;
}
.wp-block-pullquote {
  margin: 0 0 1em;
  padding: 3em 0;
  text-align: center;
  border: none;
}
.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
  font-style: italic;
}
.wp-block-post-featured-image {
  margin-bottom: 1.5em;
}
blockquote {
  position: relative;
  font-style: italic;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1em;
  border-left: 2px solid;
}
blockquote p {
  margin-bottom: 1em;
}

pre {
  margin-top: 1.65em;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
  margin: 1.65em 0 1.65em 0;
}

.wp-block-table td,
.wp-block-table th {
  padding: 1.2em;
}
.wp-block-calendar table th {
  color: #444444;
}

/*ブロックの配置設定*/
.alignleft {
  float: left;
  margin: 0 auto 2em 0;
}

.alignright {
  float: right;
  margin: 0 0 2em auto;
}

.aligncenter {
  display: block;
  margin: 2em auto;
  clear: both;
}

/*リンクテキストホワイト*/
.link-force-white a {
  color: #ffffff;
}
/*PCでインライン強制改行*/
.span-br-pc {
  display: inline;
}
/*スマホでインライン強制改行*/
.span-br-sp {
  display: block;
}
/*ボーダーなし*/
.border-style-none * {
  border-style: none !important;
}
/*テキスト折返し禁止*/
.nowrap {
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: break-word;
}
.word-break-keep {
  word-break: keep-all;
}
/*画像ブロックの高さをアレンジ：mystyel.js*/
.is-style-my50vh img {
  max-height: 50vh;
  object-fit: cover;
}
/*ヘッダーアレンジ 縦書き*/
.is-style-vertical-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/*stackable*/
.stk-block-text__text {
  margin: 0;
}
.stk-d383b45 .stk-block-text__text {
  margin: 0 !important;
}
.stk-block.stk-block-column.stk-column > .stk-column-wrapper {
  margin: 0;
}
.stk-container:not(.stk--no-background) {
  background-color: rgba(0, 0, 0, 0);
}
:where(.stk-block-heading:not(:first-child)) .stk-block-heading__text {
  margin: 0;
}
.stk-block[class*="has-text-align-"],
.stk-block [class*="has-text-align-"] {
  text-align: var(--stk-alignment-text-align, start);
  justify-content: var(--stk-alignment-justify-content, start);
}
.stk-block-icon-list.stk-block :is(ul, ol) {
  padding-inline-start: 0;
}
.editor-styles-wrapper .stk--has-background-overlay:before,
.editor-styles-wrapper .stk-block .stk-button:after,
.editor-styles-wrapper .stk-block .stk-button:before,
.editor-styles-wrapper .stk-block li::marker,
.editor-styles-wrapper
  :is([data-type^="stackable/"], .stk-block, .stk-container, .stk-container-padding, .stk-img-wrapper, .stk-img-wrapper
    img, .stk-block-heading__top-line, .stk-block-heading__bottom-line, .stk-block-posts__item-hide, .stk-block-posts__title
    > a, .stk-button, .stk-button__inner-text, .stk-block li, .stk-block
    p, .stk-block h1, .stk-block h2, .stk-block h3, .stk-block h4, .stk-block
    h5, .stk-block h6) {
  transition: all 500ms ease-in-out;
  color: var(--secondary-color);
}
h2.stk-block-heading__text {
  color: #ffffff !important;
}
/*バースデーケーキページ*/
.stk-eab99ab .stk-block-divider__hr {
  width: 200px !important;
}
.birthday-numcandle .stk-column-wrapper .stk-inner-blocks {
  height: 100%;
}

.birthday-tell {
  justify-content: center;
  color: #f6e17a;
}
.birthday-tell a {
  color: #f6e17a;
}
/* PC版 */
@media (min-width: 768px) {
  .display-pc {
    display: block;
  }
  .display-sp {
    display: none;
  }
  /*PCでインライン強制改行*/
  .span-br-pc {
    display: block;
  }
  /*スマホでインライン強制改行*/
  .span-br-sp {
    display: inline;
  }
  /*バースデーケーキページ*/
  .stk-eab99ab .stk-block-divider__hr {
    width: 398px !important;
  }
}

@media (max-width: 767px) {
  /*固定ページヘッダー*/
  .page-header-title h1.stk-block-heading__text {
    letter-spacing: 0px !important;
  }
}
