@charset "UTF-8";

/*基本設定*/
body {
  grid-row-gap: 0;
  row-gap: 0;
}
/*フォント*/
.lp-catch h1 {
  line-height: normal;
  padding: 0;
  margin: 10px 0;
}
.lp-newsblog h2,
.lp-section-header h2 {
  color: var(--secondary-color) !important;
  background-color: transparent;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.lp-newsblog h2 a {
  color: var(--secondary-color);
}
.lp-newsblog h3 {
  font-size: var(--f4);
  line-height: 1.3em;
  border-bottom: 3px solid var(--secondary-color);
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  margin: 10px 0;
}
h4 {
  font-size: var(--f5);
  line-height: 1.3em;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;
  border-left: 6px solid;
}
h5 {
  position: relative;
  font-size: var(--f6);
  line-height: 1.3em;
  padding: 5px 20px;
  margin: 20px 0;
}
h5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: calc(50% - 2px);
  left: 0;
  background: var(--secondary-color);
}
h6 {
  font-size: var(--f6);
  line-height: 1.3em;
  margin: 20px 0;
}

p {
  font-size: var(--f6);
  line-height: 2;
  margin-bottom: 20px;
}

.lp-newsblog-posts li {
  display: flex;
  margin: 0 0 15px 0;
}
.lp-newsblog-posts li > * {
  margin-right: 17px;
}

/*gallery*/
.lp-gallery {
  display: flex;
  /*margin: 0 calc(50% - 50vw);*/
  grid-column: 1/-1;
  height: 372px;
  overflow: hidden;
}
.lp-gallery ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.lp-gallery li {
  width: 313px;
  list-style: none;
}
/*
.lp-gallery ul:first-child {
  animation: slide1 150s -75s linear infinite;
}

.lp-gallery ul:last-child {
  animation: slide2 150s linear infinite;
}
@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
*/
@media (max-width: 1023px) {
  .mytheme-main {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .lp-newsblog-posts li {
    margin-bottom: 5px;
  }
  h2 {
    text-align: left;
  }
}
